
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utils</title>
</head>
<body>
<h3>Welcome to the text analyzer. Enter your text below</h3>
<form action='/analyze' method='get'>
    <textarea name='text' style="margin: 0px; width: 407px; height: 95px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charactercounter">Character Counter<br>
    <button  type="submit">Analyze Text</button>
    

</form>
</body>
</html>